/* style.css */

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #1c1f2b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container */
.container {
    background: white;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    width: 400px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    position: relative;
}
/*Container gradient */

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.container::after, .container::before {
    --angle: 0deg;
    content: '';
    position: absolute;
    height:100%;
    width: 100%;
    background-image:conic-gradient(from var(--angle),#ff4545,#00ff99,#006aff,#ff0095,#ff4545);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 5px;
    border-radius: 15px;
    animation: 2s spin linear infinite;
}

.container::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}
@keyframes spin{
    from{
      --angle:0deg;
    }
    to{
     --angle: 360deg;
    }
}




.container h1 {
    margin-bottom: 5px;
    
}


.container p {
    color: #555;
}

/* Upload Box */
.upload-box {
    margin-top: 20px;
    padding: 30px;
    border: 2px dashed #4facfe;
    border-radius: 10px;
    transition: 0.3s;
}

.upload-box:hover {
    background-color: #f0f8ff;
}

.upload-box img {
    width: 60px;
    margin-bottom: 10px;
}

.upload-box h3 {
    margin: 10px 0;
}

.upload-box button {
    background: #4facfe;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

.upload-box button:hover {
    background: #007bff;
}

.file-info {
    margin-top: 10px;
    font-size: 12px;
    color: gray;
}